.footer-14398 {
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    height: 280px;
    padding: 3rem 0;
    background-repeat: no-repeat;
    background-position: 0 -90px;
    background-size: cover;
}

.ghost_foot {
    height: 400px;
}
.footer-14398 .footer-site-logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    display: block;
}

.footer-14398 h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-14398 .links li {
    margin-bottom: 10px;
}

.footer-14398 .links li a {
    color: #999;
}

.footer-14398 .links li a:hover {
    color: #fff;
}

.footer-14398 .link-menu li {
    display: inline-block;
}

.footer-14398 .link-menu li a {
    color: #fff;
    display: inline-block;
    padding: 10px;
}

.footer-14398 .link-menu.nav-left li:first-child a {
    padding-left: 0;
}

.footer-14398 .link-menu.nav-right li:last-child a {
    padding-left: 0;
}

.footer-14398 .social li {
    display: inline-block;
}

.footer-14398 .social li a {
    display: inline-block;
    padding: 10px;
    color: #ccc;
}

.footer-14398 .social li:last-child a {
    padding-right: 0;
}

.footer-14398 .line {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}