.blocLogin {
    width: 350px;
    height: auto;
    padding: 20px;
    /* border: 1px solid lightgray; */
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.font-Roboto {
    font-family: 'Roboto';
}

.btn-rounded {
    border-radius: 30px;
}