{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title "Ajout d\'un agenda" %}

{% block main %}
    <div class="col-md-6 col-xxl-5">
        <div class="field-text form-group">
            <label for="Categories_Nom" class="form-control-label required">Nom</label>
            <div class="form-widget">             
                <input type="text" id="Categories_Nom" name="Categories[Nom]" required="required" data-ea-align="left" class="form-control">
            </div>
        </div>
    </div>
{% endblock %}
