.text-orange {
    color: rgba(255, 85, 0, 1) !important;
}

.font-Roboto {
    font-family: 'Roboto';
}

.icon-menu:before {
    content: "\e5d2";
}

footer {
    height: auto;
}

.logoFooter {
    width: 220px;
    height: 220px;
}

.logoMariage {
    width: 65px;
    height: 65px;
}

.contentLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-navbar {
    position: initial;
    background: linear-gradient(132deg, rgba(250, 188, 19, 1) 9%, rgba(213, 165, 6, 1) 36%, rgba(185, 95, 19, 1) 63%, rgba(255, 85, 0, 1) 87%);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.site-logo {
    margin-top: 0 !important;
}

.thead-brown {
    background-color: #b95f13;
    color: white;
}

.size-normal {
    font-size: 2em !important;
}
 
.image_4 img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}