  {% if albums is not empty or albums is not null   %}
        {% for album in albums %}
            {% for attache in album.attachementVideos %}
                {% set videoUrl = attache.url|split('watch?v=') %}
                <div class="elem_video text-center">
                    <div class="monElement">
                        <iframe
                            src="{{videoUrl[0] ~ 'embed/' ~ videoUrl[1]}}"
                            allow="encrypted-media; gyroscope;"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>  
            {% endfor %}
        {% endfor %}  
{% else %}
    <div class="elem_video alert alert-warning text-center">
            Le lien est vide
    </div>
{% endif %}