{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets  %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}

{% block header_title %}
    Contact
{% endblock %}

{% block content %}
    <div class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nom">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Prénoms">
                </div>
                <div class="col-md-6 mt-3">
                    <input type="text" class="form-control" placeholder="Téléphone">
                </div>
                <div class="col-md-6 mt-3">
                    <input type="text" class="form-control" placeholder="Pays">
                </div>
                <div class="col-md-12 mt-3">
                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Commentaire"></textarea>
                </div>
                <div class="col-md-12 text-center mt-4">
                    <button class="btn btn-success pl-5 pr-5">Envoyer</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
