{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets  %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}

{% block header_title %}
    Contact
{% endblock %}

{% block content %}
    <div class="p-5">
    </div>
{% endblock %}
